<head>
  <meta charset="utf-8">
  <!--
  /**
   *
   * @copyright 2015 by Tatielirb
   * http://www.tatielirb.com
   *
   **/
  --><!--[if IE]><![endif]-->
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Collection of Beer</title>
  <link rel="stylesheet" href="style.css">
  <link rel="shortcut icon" href="favicon.ico">

  <meta name="description" content="">
  <meta name="robots" content="all">
  <meta name="viewport" content="initial-scale=1,maximum-scale=1,user-scalable=no">
  <meta property="og:title" content="Nome do Cliente">
  <meta property="og:type" content="website">
  <meta property="og:description" content="">
  <meta property="og:url" content="">
  <meta property="og:site_name" content="Collection of Beer">
  <meta property="og:image" content="share.jpg">
  <!--[if lt IE 9]><script src="js/vendor/html5shiv.min.js"></script><![endif]-->
</head>