<header>
  <div class="container">
    <a href="_area-usuaria.html" class="topo-logo"><img src="img/logo.png" alt="Collection Of Beer"></a>

    <nav>
      <ul>
      <li><a href="_estante.html" title="Estante"><span class="icon icon-estante"></span><span class="font">Estante</span></a></li>
        <li><a href="_following.html" title="Following"><span class="icon icon-seguindo"></span>Following</a></li>
        <li><a href="_followers.html" title="FOLLOWERS"><span class="icon icon-seguidores"></span>Followers</a></li>
        <li><a href="_checkin-pesquisa.html" title="Check-in Beer"><span class="icon icon-check"></span>Check-in Beer</a></li>
        <li><a href="_configuracao.html" title="Configuração"><span class="icon icon-configuracao"></span>Configuração</a></li>
        <li><a href="_informacao.html" title="Informação"><span class="icon icon-informacao"></span>Informação</a></li>
        <li><a href="_login.html" title="Sair"><span class="icon icon-sair"></span>Sair</a></li>
      </ul>
    </nav>


    <div class="info-usuario col-lg-3">  
     <div class="fotoUsuario">
      <div class="foto">
        <div style="background-image: url(img/teste/perfil02.jpg)" class="img"></div>
      </div>
     </div>

      <a href="_perfil.html">
       <span class="center">
        <h2>Tatieli Ramos</h2>
       </span><i></i>     
      </a>

     <div class="btMenu">
      <div class="first">
        <div class="left"></div>
        <div class="right"></div>
      </div>
     </div>
    </div>

   
  </div>
</header>