<!DOCTYPE html>
<html lang="pt-br">
<% include partials/head.ejs %>

<body class="pt">

<% include partials/header.ejs %>

<main id="beerline">
  <div class="container">

    <div class="row">      
      <% include _info-checkin.ejs %>
       
      <% include _info-checkin.ejs %>
  
    </div>
   
  </div>
</main>


<% include partials/footer.ejs %>

</body>
</html>
