<!DOCTYPE html>
<html lang="pt-br">
<% include partials/head.ejs %>

<body class="pt">

<% include partials/header.ejs %>

<main class="estante">
  <div class="container">

  <div class="row">
    <div class="col-lg-12"> 
      <div class="legendTopo">
        <h2>Estante de Cervejas</h2>
        <span>200 rotulos</span>
      </div>

    </div>
  </div>

    <div class="row">
      <% include _modulo-estante.ejs %>
      <% include _modulo-estante.ejs %>
      <% include _modulo-estante.ejs %>
      <% include _modulo-estante.ejs %>
    </div>
   
  </div>
</main>


<% include partials/footer.ejs %>

</body>
</html>
