<!DOCTYPE html>
<html lang="pt-br">
<% include partials/head.ejs %>

<body class="pt">

<% include partials/header.ejs %>

<main id="galeria">
  <div class="container">

  <% include _modulo-perfil.ejs %>
	
	<div class="row">
	  <div class="col-lg-3 galeria">
		<div class="fotoGaleria">
			<a href="../img/teste/capa.jpg" style="background-image: url(img/teste/capa.jpg)" class="img"></a>
		</div>
	  </div>

	  <div class="col-lg-3 galeria">
		<div class="fotoGaleria">
			<a href="../img/teste/capa.jpg" style="background-image: url(img/teste/capa.jpg)" class="img"></a>
		</div>
	  </div>

	  <div class="col-lg-3 galeria">
		<div class="fotoGaleria">
			<a href="../img/teste/capa.jpg" style="background-image: url(img/teste/capa.jpg)" class="img"></a>
		</div>
	  </div>

	  <div class="col-lg-3 galeria">
		<div class="fotoGaleria">
			<a href="../img/teste/capa.jpg" style="background-image: url(img/teste/capa.jpg)" class="img"></a>
		</div>
	  </div>

	   <div class="col-lg-3 galeria">
		<div class="fotoGaleria">
			<a href="../img/teste/capa.jpg" style="background-image: url(img/teste/capa.jpg)" class="img"></a>
		</div>
	  </div>
	</div>
  
   
  </div>
</main>


<% include partials/footer.ejs %>

</body>
</html>
