<div class="col-lg-6 col-md-6">  
<div class="topoBeer col-lg-12">
       <div class="fotoUsuario">
        <div class="foto">
          <div style="background-image: url(img/teste/perfil02.jpg)" class="img"></div>
        </div>
       </div>

       <div class="infoAcao col-lg-8"><a href="_perfil.html"><span>Tatieli Ramos</span></a> adicinou uma <a href="_cerveja.html"><span> Stela Artois</span></a> a estante</div>

       <div class="rotulo">
         <div class="foto-rotulo">
          <div style="background-image: url(img/rotulos/stelaArtois.jpg)" class="img-rotulo"></div>
        </div>
       </div>
     </div>

     <div class="comment-avaliacao col-lg-12">
       <span>
         Nascida na Bélgica, berço dos melhores mestres cervejeiros, e produzida com ingredientes de primeiríssima qualidade, Stella Artois é uma cerveja super premium, de sabor balanceado e marcante. Resultado de mais de 600 anos de tradição.
       </span>        
     </div>

     <div class="col-lg-12">
       <div class="avaliacao col-lg-6">
         <div class="icon icon-avalicao avaliado"></div>
         <div class="icon icon-avalicao"></div>
         <div class="icon icon-avalicao"></div>
         <div class="icon icon-avalicao"></div>
         <div class="icon icon-avalicao"></div>
       </div>

       <div class="data col-lg-6">
         19 Agosto 2014
       </div>
     </div>

     <div class="col-lg-12 fotoCerveja">
      <div class="foto">
        <div style="background-image: url(img/teste/capa.jpg)" class="img"></div>
      </div>
     </div>

     <div class="col-lg-12 confBrind">
      <div class="col-lg-7 brindar">
        <div class="icon icon-brindar"></div>
        <span><a href="#usuarios-brindes" class="popup-brindes">3</a> <a href="">Hezrom Holci</a>, <a href="">Tais Boeira</a>, <a href="">Tamires Bittencut</a></span>
      </div> 

      <div id="usuarios-brindes" class="mfp-hide">
        <div class="listaBrindes">   
            <ul class="brindesLista col-lg-3">
              <div class="legend">Pessoas que brindaram</div>
              <li>
                <div class="fotoUsuario col-lg-1">
                 <div class="foto">
                  <div style="background-image: url(img/teste/perfil02.jpg)" class="img"></div>
                 </div>
               </div> 
               <a href="_perfil.html">Hezrom Holci</a>
               <button>Following</button>  
             </li>
             <li>
                <div class="fotoUsuario col-lg-1">
                 <div class="foto">
                  <div style="background-image: url(img/teste/perfil02.jpg)" class="img"></div>
                 </div>
               </div> 
               <a href="_perfil.html">Hezrom Holci</a>
               <button>Following</button>  
             </li>
            </ul>         
       </div>
      </div>       

      <div class="col-lg-5 linksAcoes">
        <div class="btComentar"><div class="icon icon-comentarios"></div><span>Comentario</span></div>
        <a href=""><div class="icon icon-brindar"></div><span>Brindar</span></a>
      </div>
     </div>

     <div class="" id="comentar">
        <form action="" class="comentar col-lg-12">
         <div class="row">
            <div class="field">
              <textarea name="comentario" id="comentario" cols="30" rows="10" placeholder="Deixe seu comentario" maxlength="140"></textarea>
              <div class="caracteres">
                <span id="contador">140</span> caracteres
              </div>
            </div>
         </div>          
          <button class="btComentario" type="submit">Comentar</button> 
        </form>        
     </div>

     <div class="col-lg-12">
       <div class="comentario col-lg-12">
          <div class="fotoUsuario col-lg-1">
            <a href="_perfil.html" class="foto">
              <div style="background-image: url(img/teste/perfil02.jpg)" class="img"></div>
            </a>
          </div>  

        <div class="info col-lg-11">
          <div class="col-lg-12">
            <p>Tatieli Ramos Minions ipsum underweaaar para tú bee do bee do bee do butt ti aamoo! Baboiii. Tank yuuu! bappleees potatoooo gelatooo chasy wiiiii jeje poo</p>
          </div>
          <div class="col-lg-10 linksComen">
            <span>2hs</span> <a href="">Editar</a> <a href="">Excluir</a> 
          </div>
        </div>  
       </div>

       <div class="comentario col-lg-12">
          <div class="fotoUsuario col-lg-1">
            <a href="_perfil.html" class="foto">
              <div style="background-image: url(img/teste/perfil02.jpg)" class="img"></div>
            </a>
          </div>  

        <div class="info col-lg-11">
          <div class="col-lg-12">
            <p>Tatieli Ramos Nascida na Bélgica, berço dos melhores mestres cervejeiros.</p>
          </div>
          <div class="col-lg-10 linksComen">
            <span>2hs</span> <a href="">Editar</a> <a href="">Excluir</a> 
          </div>
        </div>  
       </div>
     </div> 

     <div class="col-lg-12 remover">
      <a href=""><div class="icon icon-excluir"></div>Remover</a>
     </div>
     </div>