<div class="row">
  	<div class="col-lg-12 infoPerfio">  	 
	   <div style="background-image: url(img/teste/capa.jpg)" class="img-capa">

	    <div class="dadosPerfio">
		  <div class="fotoUsuario">
			<div class="foto">
			  <div style="background-image: url(img/teste/perfil02.jpg)" class="img"></div>
			</div>
		 </div>

		  <a href="_perfil.html" class="valign">
		    <div class="center">
		      <h2>Tatieli Ramos</h2>
		    </div>
		    <i></i>
		  </a> 
	 	</div>

	 	<div class="menuPerfil"> 
 		  <ul>
 			<li class="colorUm"><a href="_estante.html" title="Estante"><span class="icon icon-estante"></span><span class="font">Estante</span></a></li>
 			<li class="colorDois"><a href="_following.html" title="Following"><span class="icon icon-seguindo"></span><span class="font">Following</span></a></li>
 			<li class="colorTres"><a href="_followers.html" title="Followers"><span class="icon icon-seguidores"></span><span class="font">Followers</span></a></li>
 			<li class="colorQuatro"><a href="_galeria.html" title="galeria"><span class="icon icon-foto"></span><span class="font">Galeria</span></a></li>
 			<li class="colorCinco configLink">
	 			<a href="_configuracao.html" title="Configuração">
	 			<span class="icon icon-configuracao"></span>
	 			<span class="font">Configuração</span>
	 			</a>
 			</li>

 			<!-- <li class="colorCinco amigosVal">
				<button class="button-follow">
				  <span class="follow-text">
				    <span class="icon icon-userAdd"></span>
				    <span class="font">Fallow</span>
				  </span>

				  <span class="following-text">
				    <span class="icon icon-userVal"></span>
				    <span class="font">Following</span>
				  </span>
				 </button>
 			</li> -->
 		  </ul>
	 	</div>
	  </div> 
		
	</div>
  </div>